@import 'css/colors';

@mixin rounding {
  border-radius: 16px;
}

@mixin window {
  margin: 5px 5px 10px;
  @include rounding;
}

* {
  all: unset;
  font-family: "Lexend", Roboto, sans-serif;
  font-size: 1rem;
  text-shadow: 0 2px 3px rgba(0, 0, 0, .2);
  transition: 200ms ease;
}

@import 'css/calendar';
@import 'css/music';
@import 'css/osd';
@import 'css/sidebar';
@import 'css/system';
@import 'css/volume';

.bar-one, .bar-two {
  background-color: $bg;
  color: $fg;
}

tooltip {
  background: $bg;
  border: 1px solid $border;
  border-radius: 8px;

  label {
    font-size: 1rem;
  }
}

.icon,
.icon label { font-family: Material Symbols Outlined; }

.module { margin: 0 5px; }

.hour {
  font-weight: bold;
  padding-left: 5px;
  font-size: 1.3rem;
}

.minute {
  padding-right: .7rem;
  font-size: 1.3rem;
}

.date {
  background: $bg;
  color: $flamingo;

  label {
    font-size: 1.2rem;
  }
}

.bright-icon { color: $yellow; }
.module-bt { font-size: 1.2rem; }

.workspaces { margin-left: 10px; }
